body{
    margin: 0;
    padding: 0;
    background-color: #ffffff;
        @media only screen and (max-width: 300px) {
         display: none;
        }
}
div, ul, li, p{
    margin: 0;
    padding: 0;
}
main{
    max-width: 1280px;
    margin: 0 auto;
    background-color: #FFFFFF;
   // height: 100vh;
}